.dark-mode {
    background-color: rgb(21, 34, 34);
    color: rgba(255, 255, 255, 0.849);
}

.link-dark-mode {
    color: rgb(153, 221, 153);
    text-decoration: none;
}

.link-light-mode{
    color: hsl(128, 53%, 19%);
    text-decoration: none;
}

body{

    background-color:rgba(225, 245, 206, 0.753);
    color: #24292e;
    overflow: hidden;
}
#dp{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 35vh;
    border-radius: 100%;
    margin-top: 10vh;
}
#about{
    text-align: center;
    margin-top: 20px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace ;
}
#my-details{
    text-align: center;
    padding-block-end: 40;
    margin-top: 2px;
    padding-bottom: 3px;
    font-size: 120%;
    font-family: 'Courier New', Courier, monospace;
}
.moreabout{
    text-align: center;
    padding-block-end: 0;
    font-size: large;
    font-family: 'Courier New', Courier, monospace ;
}

.socials{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 220px;
    border-radius: 100%;
}
.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}
.toggle{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 42vh;
    border-radius: 100%;
}
#switch{
    width: 40px;
}

#home{
    margin-top: 2vh;
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30px;
    height: auto;
}

#lister {
    background: rgba(0, 0, 0, 0.26);
    margin-left: auto;
    margin-right: auto;
    width: 43vh;
    height: 80vh;
    border-radius: 3%;
    overflow-y: scroll;
}

.list-element{
    padding: 5px;
    text-align: center;
    display: block;
    background: rgba(255, 255, 255, 0.16);
    width: auto;
    height: auto;
    margin: 12px 12px;
    border-radius: 2%;
    text-decoration: none;
}
.blog-element{
    padding: 5px;
    display: block;
    background: rgba(255, 255, 255, 0.16);
    width: auto;
    height: auto;
    margin: 12px 12px;
    border-radius: 2%;
    text-decoration: none;
}
.bookmark-item{
    width: 98%;
    height: auto;
    min-height: 25vh;
}
.list-element:hover{
    background: rgba(255, 255, 255, 0.34);
}

::-webkit-scrollbar {
    display: none;
    background-color: rgba(255, 255, 255, 0.34);
}


@media (min-width: 1500px){
    .profile-wrap{
        margin-top: 30vh;
        margin-left: 30%;
        margin-right: auto;
        align-items:flex-start;
    }
    .toggle{
        position: relative;
    }
    #dp{
        float: right;
        margin-top: -3vh;
        margin-right: 30%;
        width: 15vw;
        text-align: right;
    }
    #about{
        margin-bottom: 30px;
        text-align: left;
    
    }
    #my-details{
        text-align: left;
    }
    .moreabout{
        text-align: left;
        font-size: large;
        margin-bottom: 20px;
    }
    .socials{
        margin-left: 0px;
        width: 220px;
        height: 220px;
        border-radius: 100%;
    }
    .blog-element{
        max-width: 50%;
        min-width: 20vw;
    }

}

@media (min-width: 800px){
    .toggle{
        margin-left: 93vw;
        margin-top: 0vw;
    }
    #lister {
        margin-top: -3vh;
        position: relative;
        width: 75vw;
        height: 90vh;
        border-radius: 3%;
    }
    .row-list{
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;        
    }
    .row-gallery{
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
    }
    .row-project{
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
    }
    .row-blog{
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
    }
    .list-element{
        margin: 0.6vw 0.6vw;
        min-height: 22vh;
        max-height: 85vh;
        overflow-y: scroll;
        max-width: 500px;
    }
    .blog-element{
        flex: auto;
        width: 20vh;
        margin: 12px 12px;
    }
    .project-item{
        flex: auto;
        width: 19vw;
        height: auto;
        margin: 12px 12px;
    }
    .bookmark-item{
        margin: 1px;
        max-width: 400px;
    }

    .gallery-element{
        width: 50%;
        margin: 0px 0px;
        background-color: black;

    }

}